<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
    <link href = "/main/templates/test.css" rel = "stylesheet">
</head>
<body>
    <h1 style = "color: red; font-size: 25px;">Это тестовая страница
    <img src = "https://i.pinimg.com/736x/70/5b/bb/705bbb820c7332b04d619f7536645753.jpg" alt = "image">
    <div style = "height: 200px; border: 2px solid red; background: yellow;"></div>
</body>
</html>