<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
    <link href = "/main/templates/test.css" rel = "stylesheet">
</head>
<body>
    <h1 style = "color: red; font-size: 25px;">Это тестовая страница
    <img src = "https://storage.googleapis.com/kaggle-datasets-images/31863/41217/0219823b95a1369e5ea4e8ede0fc40ed/dataset-card.jpg?t=2018-06-21-16-32-55" alt = "image">
    <div style = "height: 200px; border: 2px solid red; background: yellow;"></div>
</body>
</html>